/* Body 
------------------------------------- */
body {
    background: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

/* Typography
------------------------------------- */

h1,
h2,
h3,
h4 {
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

h1 {
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    color: #ffffff;
    font-size: 1rem;
}

h3 {
    color: #444;
    font-size: 14px;
    letter-spacing: 4px;
}

h5 {
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 28px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

a {
    outline: none;
    text-decoration: none;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

img {
    width: 100%;
    max-width: 100%;
}

/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
    width: 60px;
    height: 60px;
    background-color: #111112;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

/* navigation styles
/* ========================================== */
.nav-container,
nav {
    overflow: visible;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav a {
    color: #333333;
}

.navbar {
    background: transparent;
    height: 90px;
    max-height: 94px;
    margin: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.brand {
    float: left;
    padding: 25px 0 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.brand a {
    color: #333;
    font-size: 2.5vh;
    font-weight: 700;
    opacity: 1;
    text-decoration: none;
}

.navicon {
    position: relative;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px 0 0;
}

nav ul {
    display: inline-block;
}

nav ul.right {
    float: right;
    right: 0;
}

#nav-menu a {
    font-weight: 300;
    font-size: 26px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#nav-menu li {
    list-style: none;
    padding: 6px;
}

.nav-text-light a {
    color: #ffffff;
}

.sticky .nav-text-light a {
    color: #555555;
}

.sticky nav.nav-inner .navbar {
    height: 70px;
    max-height: 70px;
    margin: 0;
    background: #ffffff;
}

.sticky nav.transparent .navbar {
    background: transparent;
}

@media all and (max-width: 990px) {
    .nav-text-light a {
        color: #555555;
    }
    .nav-inner {
        background: #ffffff;
    }
    .transparent {
        background: transparent;
    }
    .navicon {
        padding-right: 10px;
    }
    nav ul.right {
        float: left;
    }
}

a.icon {
    font-size: 32px;
    padding-right: 20px;
}

.intro-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.close {
    font-family: inherit;
    font-size: 32px;
    font-weight: 300;
    text-shadow: none;
}
.close:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.circle {
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
    z-index: 99;
    padding: 4px 0 0;
}

.circle i {
    font-size: 4vh;
    color: #111112;
}

.circle.dark {
    border-color: #292929;
}

.circle.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.large {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
}

.circle.large:before {
    margin-top: -18px;
    margin-left: -10px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31px;
    border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
    border-color: transparent transparent transparent #292929;
}

.circle.inline {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    display: inline-block;
    z-index: 0;
}

@media all and (max-width: 767px) {
    .circle.large {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }
    .circle.large:before {
        margin-top: -14px;
        margin-left: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 25px;
        border-color: transparent transparent transparent #fff;
    }
}

.list-menu {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    opacity: 0;
    z-index: -1;
}

.list-menu.reveal-modal {
    opacity: 0.9;
    z-index: 999999;
    visibility: visible;
}

.list-menu .ion-close-round {
    font-size: 31px;
    position: absolute;
    top: 32px;
    right: 32px;
    color: #fff;
    cursor: pointer;
}

/* header section styles
/* ========================================== */
#header {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 100px;
}

#header .header-thumb {
    /* background: #ffffff;
    border: 10px solid #f9f9f9; */
    padding: 62px 20px 62px 20px;
}

.header-one .header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb,
.header-sanjay .header-thumb,
.header-celestial .header-thumb,
.header-upendra-penthouse .header-thumb,
.header-elemental-sky-house .header-thumb,
.header-jagdish-farshan .header-thumb,
.header-parul-food-court .header-thumb,
.header-parul-gate .header-thumb,
.header-social-abode .header-thumb,
.header-jai-shobhnani .header-thumb,
.header-riverway-residence .header-thumb,
.header-kalpesh-residence .header-thumb,
.header-adani-showroom .header-thumb,
.header-babukaka-showroom .header-thumb,
.header-espi-office .header-thumb,
.header-jsk-showroom .header-thumb,
.header-jhalak-showroom .header-thumb,
.header-gopal .header-thumb,
.header-emerald .header-thumb,
.header-profashion .header-thumb,
.header-kaivalya-residence .header-thumb,
.header-soumyendra-residence .header-thumb,
.header-sequinze .header-thumb,
.header-parul-classroom .header-thumb,
.header-parul-agriculture .header-thumb,
.header-parul-design .header-thumb {
    padding: 32px 20px 32px 20px !important;
}

.header-one,
.header-two,
.header-three,
.header-four,
.header-five,
.header-sanjay,
.header-celestial,
.header-upendra-penthouse,
.header-elemental-sky-house,
.header-jagdish-farshan,
.header-parul-food-court,
.header-parul-gate,
.header-social-abode,
.header-jai-shobhnani,
.header-riverway-residence,
.header-kalpesh-residence,
.header-adani-showroom,
.header-babukaka-showroom,
.header-espi-office,
.header-jsk-showroom,
.header-jhalak-showroom,
.header-gopal,
.header-emerald,
.header-profashion,
.header-kaivalya-residence,
.header-soumyendra-residence,
.header-sequinze,
.header-parul-classroom,
.header-parul-agriculture,
.header-parul-design {
    height: 42vh !important;
    min-height: 420px;
    padding-top: 120px !important;
}

.header-one {
    background: url("../images/012.jpg") no-repeat;
    height: 60vh !important;
    min-height: 520px;
    padding-top: 150px !important;
}
.header-two {
    background: url("../images/Riverway/cover.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.header-three {
    background: url("../images/header-three-bg.jpg") no-repeat;
}
.header-four {
    background: url("../images/header-four-bg.jpg") no-repeat;
}
.header-five {
    background: url("../images/header-five-bg.jpg") no-repeat;
}

.header-sanjay {
    background: url("../projects/mr-sanjay-joshi/images/PHOTO\ ALONG\ WRITEUP2.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-celestial {
    background: url("../projects/darshanam-celestial/images/thumbs/2.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-upendra-penthouse {
    background: url("../projects/mr-upendra-penthouse/images/thumbs/03.JPG")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-elemental-sky-house {
    background: url("../projects/elemental-sky-house/images/thumbs/04.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-jagdish-farshan {
    background: url("../projects/jagdish-farshan/images/thumbs/01.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-parul-food-court {
    background: url("../projects/parul-food-court/images/thumbs/06.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-parul-gate {
    background: url("../projects/parul-gate/images/thumbs/09.JPG") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-social-abode {
    background: url("../projects/social-abode/images/thumbs/3.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-jai-shobhnani {
    background: url("../projects/mr-jai-shobhnani/images/thumbs/2.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-riverway-residence {
    background: url("../projects/riverway-residence/images/17.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-kalpesh-residence {
    background: url("../projects/mr-kalpesh-residence/images/photo\ wth\ writeup.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-adani-showroom {
    background: url("../projects/adani-showroom/images/thumbs/07.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-babukaka-showroom {
    background: url("../projects/babukaka-showroom/images/thumbs/3.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-espi-office {
    background: url("../projects/espi-consultants/images/thumbs/01\ \(5\).JPG")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-jsk-showroom {
    background: url("../projects/jsk-showroom/images/PHOTO\ WITH\ WRITEUP.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-jhalak-showroom {
    background: url("../projects/jhalak-showroom/images/thumbs/2.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-gopal {
    background: url("../projects/mr-gopal/images/photo\ with\ writeup.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-emerald {
    background: url("../projects/emerald/images/IMGL0784.JPG") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-profashion {
    background: url("../projects/pro-fashion/images/IMGL0473.JPG") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-kaivalya-residence {
    background: url("../projects/kaivalya-residence/images/05.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-soumyendra-residence {
    background: url("../projects/mr-soumyendra/images/06.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
}

.header-sequinze {
    background: url("../projects/sequinze/images/02.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-parul-classroom {
    background: url("../projects/parul-classroom-building/images/2.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-parul-agriculture {
    background: url("../projects/parul-agriculture-building/images/1.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.header-parul-design {
    background: url("../projects/parul-design/images/24.\ Final\ College\ View\ 1\ -\ 2.jpg")
        no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

#proj-cover-soum {
    position: absolute;
    top: 0;
}
/* Portfolio section styles
/* ========================================== */
#portfolio {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3.3rem;
}

#portfolio img {
    width: 100%;
}

#portfolio .portfolio-thumb {
    position: relative;
    overflow: hidden;
    margin: 0;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #141414;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 0;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 39% 20px 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #f9f9f9;
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
}

/* Navbar */
.nav-wrapper {
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.nav-wrapper-contact {
    width: 100%;
    margin-top: 70px;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.nav-wrapper li {
    display: inline-block;
    margin: 1vw 0vw;
}

.nav-wrapper-contact li {
    display: inline-block;
    margin: 1vw 0vw;
}

.nav-wrapper li a {
    color: #666;
    font-size: 1.7vh;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 2.2vw;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.nav-wrapper-contact li a {
    color: #666;
    font-size: 1.7vh;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 2.2vw;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.nav-wrapper li a:active {
    background: #111112 !important;
}

.nav-wrapper-contact li a:active {
    background: #111112 !important;
}

.nav-wrapper li a:hover,
.nav-wrapper li a:focus {
    background: #111112;
    color: #ffffff;
}

.nav-wrapper-contact li a:hover,
.nav-wrapper-contact li a:focus {
    background: #111112;
    color: #ffffff;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    /* margin-bottom: 32px; */
    overflow: hidden;
    padding: 0;
}

.filter-wrapper li {
    display: inline-block;
    margin: 2vw;
    margin-bottom: 3vh;
}

.filter-wrapper li a {
    color: #666;
    font-size: 1.5vh;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 1.4vw;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
    background: #111112 !important;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
    background: #111112;
    color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
    padding-top: 4rem;
    padding-bottom: 3.5rem;
}

#single-project .project-info {
    padding-bottom: 10px;
}

#single-project img {
    padding-top: 14px;
}

/* about section styles
/* ========================================== */
#about {
    padding-top: 0rem;
    padding-bottom: 3rem;
}

#about .col-md-4 {
    padding-top: 16px;
    padding-bottom: 32px;
}

#about img {
    padding-bottom: 20px;
}

#about blockquote {
    letter-spacing: 2px;
    margin-top: 20px;
}

/* blog & single post section styles
/* ========================================== */
#blog,
#single-post {
    /* padding-top: 2rem; */
    padding-bottom: 3rem;
}

#blog .blog-thumb {
    padding-top: 60px;
    padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
    padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
    color: #888;
    font-weight: 400;
    letter-spacing: 1px;
    padding-right: 10px;
}

#blog .blog-thumb .btn {
    border-radius: 0px;
    padding: 10px 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 22px;
    transition: all 0.4s ease-in-out;
}
#blog .blog-thumb .btn:hover {
    background: #111112;
    border-color: transparent;
    color: #ffffff;
}

#single-post blockquote {
    margin-top: 32px;
    letter-spacing: 2px;
}

.post-image {
    margin: 25px 0px;
}

#single-post .blog-comment,
#single-post .blog-comment-form {
    margin-top: 62px;
}

#single-post .blog-comment h3,
#single-post .blog-comment-form h3 {
    padding-bottom: 20px;
}

#single-post .blog-comment .media {
    padding-bottom: 22px;
}

#single-post .blog-comment .media img {
    padding-right: 14px;
}

#single-post .blog-comment h4 {
    font-weight: 700;
}

#single-post .blog-comment-form .form-control {
    background: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
}

#single-post .blog-comment-form input[type="submit"] {
    background: #111112;
    border-color: transparent;
    color: #ffffff;
    height: 50px;
}

/* contact section styles
/* ========================================== */
#contact {
    padding-top: 2rem;
    padding-bottom: 0rem;
}

#contact .fa {
    font-size: 32px;
    padding-right: 10px;
}

#contact #map-canvas {
    border: none;
    width: 100%;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 5rem;
}

#contact .contact-form {
    padding-top: 14px;
}

#contact .form-control {
    background: transparent;
    border: 1px solid #eee;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
    border-color: #f0f0f0;
}

#contact textarea {
    min-height: 100px;
}

#contact input {
    height: 50px;
}

#contact .submitBtn {
    height: 50px;
}

#contact input[type="submit"] {
    background: #111112;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    margin-top: 10px;
}

#contact .submitBtn {
    background: #111112;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    margin-top: 10px;
}

#contact input[type="submit"]:hover {
    background: #444;
}

#contact .submitBtn:hover {
    background: #444;
}

.contact-submit {
    width: 50%;
    margin: auto;
}

#contact .col-md-4 {
    background: #fff;
    padding: 62px 0px 32px 42px;
    position: relative;
    bottom: -50px;
}

/* footer section styles
/* ========================================== */
footer {
    background: #141414;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

/* social icon */
.social-icon {
    padding: 0;
    margin: 0;
}
.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li a {
    border-radius: 100px;
    border: 1px solid transparent;
    color: #909090;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    padding: 0px;
    margin-top: 14px;
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
    top: 0px;
}
.social-icon li a:hover {
    background: #ffffff;
}

.social-icon-nav {
    padding: 0;
    margin: 0;
    display: none;
    list-style: none;
}

.social-icon-nav-m {
    padding: 0;
    margin: 0;

    margin-top: 10px;
}
.social-icon-nav-m li {
    list-style: none;
    display: inline-block;
}
.social-icon-nav-m li a {
    border-radius: 100px;
    border: 1px solid transparent;
    /* color: #909090; */
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    padding: 0px;
    margin-top: 4px;
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
    top: 0px;
}

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {
    .intro-inner {
        top: 30%;
    }

    #contact .col-md-4 {
        padding: 62px 20px 42px 32px;
    }

    #contact .col-md-4 p {
        font-size: 12px;
    }

    #contact #map-canvas {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .brand {
        padding-left: 24px;
    }

    .header-one,
    .header-two,
    .header-three,
    .header-four,
    .header-five,
    .header-sanjay,
    .header-celestial,
    .header-upendra-penthouse,
    .header-elemental-sky-house,
    .header-jagdish-farshan,
    .header-parul-food-court,
    .header-parul-gate,
    .header-social-abode,
    .header-jai-shobhnani,
    .header-riverway-residence,
    .header-kalpesh-residence,
    .header-adani-showroom,
    .header-babukaka-showroom,
    .header-espi-office,
    .header-jsk-showroom,
    .header-jhalak-showroom,
    .header-gopal,
    .header-emerald,
    .header-profashion,
    .header-kaivalya-residence,
    .header-soumyendra-residence,
    .header-sequinze,
    .header-parul-classroom,
    .header-parul-agriculture {
        min-height: 380px;
        padding-top: 80px !important;
    }

    #about .col-md-4,
    #single-project .col-md-3 {
        padding-bottom: 32px;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 13px;
        letter-spacing: 3px;
    }

    .filter-wrapper {
        padding: 0px;
    }

    #contact {
        padding-bottom: 3rem;
    }

    #contact .col-md-4 {
        padding: 32px 20px 22px 62px;
    }
    .contact-submit {
        width: 70%;
    }
}

@media (max-width: 450px) {
    .intro-inner {
        top: 50%;
    }
}

.stats {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.stats li {
    display: inline;
}
.stats span {
    display: inline-block;
    padding: 10px;
}

.slider {
    width: 100%;
    height: 40vh;
    /* margin: 20px auto; */
    position: relative;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide1 {
    background: url(../images/08.jpg) no-repeat center;
    /* background-size: 100% 100%; */
    background-size: cover;
    animation: fade 14s infinite;
    -webkit-animation: fade 14s infinite;
}
.slide2 {
    background: url(../images/06.jpg) no-repeat center;
    /* background-size: 100% 100%; */
    background-size: cover;

    animation: fade2 14s infinite;
    -webkit-animation: fade2 14s infinite;
}
.slide3 {
    background: url(../images/07.jpg) no-repeat center;
    /* background-size: 100% 100%; */
    background-size: cover;

    animation: fade3 14s infinite;
    -webkit-animation: fade3 14s infinite;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    33.333% {
        opacity: 0;
    }
    66.666% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade2 {
    0% {
        opacity: 0;
    }
    33.333% {
        opacity: 1;
    }
    66.666% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade3 {
    0% {
        opacity: 0;
    }
    33.333% {
        opacity: 0;
    }
    66.666% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#proj {
    visibility: visible;
    margin-top: 26px;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.subtitle {
    font-size: 1.05vh;
    display: block;
    /* background-color: red; */
    text-align: center;
}

.imgcaption {
    margin-top: 0px;
    font-size: 0.75rem;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#show {
    margin-top: 20px;
}

div.stickyy {
    width: 40px;
    height: 60px;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.stickyy2 {
    width: 40px;
    height: 60px;

    position: fixed;
    top: 0;
    bottom: 0;

    left: auto;
    right: 0;
    margin: auto;
}

#ticon {
    float: right;
}

#projnav {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5rem;
    color: black;
    font-weight: bold;
}

.info {
    display: none;
}

#fotorama-desktop {
    display: none;
}

#facebook-desktop {
    display: none;
}

.cover-overlay {
    display: none;
}

#desktop-writeup {
    display: none;
}

.b-wrapper {
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 20px;
    margin-bottom: 0px;
    /* width: 100%; */
}

.b-wrapper a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 37px;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
    margin: auto;
}

.b-wrapper a span {
    position: relative;
    z-index: 2;
}

.b-wrapper a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: all 0.35s;
}

.b-wrapper a:hover {
    color: #fff;
}

.b-wrapper a:hover:after {
    width: 100%;
}

.google_map {
    display: none;
}

.mob-google_map {
    margin-bottom: 4.5rem;
}

#work-head {
    text-align: center;
}

#sshow {
    display: none;
}

#desktop-fullscreen {
    display: none;
}

#mobile-fullscreen {
    margin-bottom: 3vh;
}

.divider-container {
    display: none !important;
}

.m-b {
    margin-bottom: 0.7rem;
}

.desktop-io {
    display: none;
}

.main-head {
    font-size: 2.5vw;
    margin-top: 0;
    margin-bottom: 30px;
}

.main-head-divider-desktop {
    display: none;
}

.main-head-divider-mobile {
    color: red;
}

.fotorama img {
    width: 100%;
    height: auto;
}

.proj-head {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.proj-head span {
    border-bottom: 4px solid red;
}

.heading-left {
    width: 47%;
    float: left;
    text-align: right;
}

.heading-center {
    width: 6%;
    float: left;
    text-align: center;
}

.heading-right {
    width: 47%;
    float: left;
    text-align: left;
}

.blog-thumb h2 {
    color: black;
    font-weight: bold;
}

.text-center-mob {
    text-align: justify;
    text-justify: inter-word;
}

.text-center-mob h1 {
    text-align: center;
}

.desktop-iiid {
    display: none;
}

.award-proj-link {
    border-bottom: 2px solid red;
    font-weight: bold;
}

.mobile-io {
    margin-top: 3vh;
}

.detailing-heading-desktop {
    display: none;
}

.embed-video {
    margin-top: 3vh;
}
